{{- $name := .Params.member_name | default .Title -}}
{{- $internal := true -}}
{{- if isset .Params "internal" -}}
  {{- $internal = .Params.internal -}}
{{- end -}}

{{- if and (not $internal) .Params.external_url -}}
<a class="members-name-link" href="{{ .Params.external_url | safeURL }}" target="_blank" rel="noopener noreferrer">{{ $name }}</a>
{{- else if $internal -}}
<a class="members-name-link" href="{{ .RelPermalink }}">{{ $name }}</a>
{{- else -}}
<span class="members-name-link">{{ $name }}</span>
{{- end -}}
